body {
    padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: #FFFF00;
}

.fail {
    background-color: #ff0000;
}

.required {
    color: maroon;
}

.myTable {
    margin: 0 0 18px;
    width: auto;
}

.myModal {
    display: none;
}

.roleSelect {
    font-size: 12px;
}

form.filter{
    margin-bottom: 5px;
}

form.filter input{
    margin-bottom: 5px;
}
form.filter select{
    width: auto;
    margin-left: 5px;
}

form.nonMargin, form.nonMargin input {
    margin: 0;
}

form label {
    display: inline;
}

input[type="checkbox"], input[type="radio"] {
    margin: 3px;
}

/* zrušení spinneru pro fancybox*/
#fancybox-loading {
    display: none;
}

#ajax-spinner {
    background: #000000 url('../images/layout/pacman-loader.gif') no-repeat 50% 50%;
    height: 60px;
    width: 60px;
    margin: 0;
    border-radius: 6px;
    Opacity : 0.9;
    z-index: 123456;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}
.modal.fade.in {
    top: 60%;
}

.ct { /* ct = center, top*/
    text-align: center;
    vertical-align: text-top;
}
td.r {text-align: right;}
.b {font-weight: bold;}