*.zip
*.rar
*.log
*.db
.DS_Store
/vendor/*
/temp-nette/*
/log-nette/*
/www/webtemp/
/www/_upload/
/www/images/*
/app/config/*.local.*
!/app/config/*.example.*
!/app/config/config.ci.local.neon
/deploy.sh
/deployment*
/.vs
.idea
temp
