parameters:
    ssl : FALSE

skautis:
    applicationId : c9f6e8b1-2863-4fa6-9b5f-8b7e6f6aac91
    testMode : true #isTestMode?
    profiler: true
    cache: true

tracy:
	bar:
		- Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
	nette.mailer:
		class: Nette\Mail\IMailer
		factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)