#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

nette:
    session:
        autoStart: smart
        expiration: "+ 3 days"
    application:
        #errorPresenter: App\Error
        catchExceptions: true
        mapping:
            *: App\*Module\*Presenter
    debugger:
        email: %sinacek@gmail.com%
        strictMode: TRUE
        maxDepth: 6
        maxLen: 500;

extensions:
    skautis: SkautIS\Nette\SkautisExtension22

services:
    #router: Nette\Application\Routers\SimpleRouter('App:Default:default')
    - App\RouterFactory
    router: @App\RouterFactory::createRouter
    mailService:
        class: MailService(NULL, %sendEmail%)
    authService:
        class: AuthService( @skautis )
    userService:
        class: UserService( @skautis )
