{block title}default{/block}

{block #content}
<div class="hero-unit">
    <h1>Vítejte</h1>
    <p>na stránce obsahující základní informace o Web Service SkautISu a testování jeho služeb.</p>
</div>
