{block #content}
<h2>Testovací SkautIS</h2>
<p>
    Přihlášení je na adrese <a href="http://test-is.skaut.cz/">test-is.skaut.cz</a> a základní přihlašovací údaje najdete na <a href="http://is.skaut.cz/napoveda/Testovaci-skautIS.ashx">is.skaut.cz/napoveda/Testovaci-skautIS.ashx</a>.
</p>

