{block #content}
<h2>SkautIS Web Services</h2>
<p>
    Přehled všech služeb je na <a href="http://test-is.skaut.cz/JunakWebservice/">test-is.skaut.cz/JunakWebservice/</a>
</p>

<h3>Knihovna pro PHP</h3>
<p>
    Zdrojové kódy jsou na adrese <a href="https://github.com/sinacek/SkautIS">github.com/sinacek/SkautIS</a>.
    Návod na propojení s vlastním webem na <a href="https://github.com/sinacek/SkautIS/wiki">github.com/sinacek/SkautIS/wiki</a>
</p>