{block #content}

<div class="row-fluid">
    <div class="span5">
        <h2>Testovací formulář</h2>
        {form testForm}
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
            <table>
                <tr>
                    <th class="required">{label wsdl/}</th>
                    <td>{input wsdl}</td>
                </tr>
                <tr>
                    <th class="required">{label service/}</th>
                    <td>{input service}</td>
                </tr>
                <tr>
                    <th>{label cover/}</th>
                    <td>{input cover}</td>
                </tr>
                <tr>
                    <td colspan="2">{input args}</td>
                </tr>
                <tr>
                    <th></th>
                    <td style="text-align: right;">{input send}</td>
                </tr>
            </table>
        {/form testForm}

    </div>
    <div class="span7">
        <h3>Informace o uživateli</h3>
        <div class="well well-small">
            {$info|noescape}
        </div>
        <h3>Požadavek na server</h3>
        <div class="well well-small">
            {$request|noescape}
        </div>
        <h3>Odpověd serveru</h3>
        <div class="well well-small">
            {$response|noescape}
        </div>

    </div>
</div>


<h2>Návod k testovacímu rozhraní</h2>
<img src="{$baseUri}/images/data/tutorial.png" alt="obrázek testovacího rozhraní" class="well"/>
<ol>
    <li>(Povinné) Výběr webové služby - kompletní seznam je na <a href="https://test-is.skaut.cz/JunakWebservice/">test-is.skaut.cz/JunakWebservice/</a>
    </li>
    <li>(Povinné) Název volané funkce z vybrané služby.</li>
    <li>
        (Volitelné) Některé funkce potřebují další atribut. Například funkce <a
                href="https://test-is.skaut.cz/JunakWebservice/OrganizationUnit.asmx?op=PersonInsert">PersonInsert</a>
        potřebuje zadat jako <i>Obal</i> řetězec person.
    </li>
    <li>Jednotlivé parametry zapsané v syntaxi <a href="http://ne-on.org/">neon</a>.</li>
    <li>Struktura odeslaná na server.</li>
    <li>Odpověd přijatá od serveru.</li>
</ol>
